<!-- src/app/app.component.html -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="isAuthenticated">
      <ion-header>
        <ion-toolbar>
          <ion-title (click)="goToHome()" style="cursor: pointer">TASKINATOR</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Información del usuario -->
        <div class="user-info ion-padding">
          <ion-item lines="none" button (click)="goToProfile()">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>
              <h2>{{ userName || 'Alejandro Angel' }}</h2>
            </ion-label>
          </ion-item>
        </div>

        <ion-list>
          <!-- Páginas dinámicas -->
          <ng-container *ngFor="let p of appPages">
            <!-- SIN submenú -->
            <ion-menu-toggle auto-hide="true" *ngIf="!p.children && !p.categories && !p.tags">
              <ion-item [routerLink]="[p.url]" detail="false">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!-- CON submenú -->
            <ion-accordion-group expand="inset" multiple="true" *ngIf="p.children || p.categories || p.tags">
              <ion-accordion [value]="p.title">
                <ion-item slot="header">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <ion-list slot="content" class="submenu-list">
                  <!-- Submenús -->
                  <ng-container *ngIf="p.children">
                    <ion-item *ngFor="let sub of p.children" [routerLink]="[sub.url]">
                      <ion-icon slot="start" [name]="sub.icon"></ion-icon>
                      <ion-label>{{ sub.title }}</ion-label>
                    </ion-item>
                  </ng-container>

                  <ng-container *ngIf="p.categories">
                    <ion-item *ngFor="let sub of p.categories" [routerLink]="['/tabs/tasks/group', sub.type, sub.value]">
                      <ion-icon slot="start" [name]="sub.icon"></ion-icon>
                      <ion-label>{{ sub.title }}</ion-label>
                    </ion-item>
                  </ng-container>

                  <ng-container *ngIf="p.tags">
                    <ion-item *ngFor="let sub of p.tags" [routerLink]="['/tabs/tasks/group', sub.type, sub.value]">
                      <ion-icon slot="start" [name]="sub.icon"></ion-icon>
                      <ion-label>{{ sub.title }}</ion-label>
                    </ion-item>
                  </ng-container>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ng-container>

          <!-- Botón Configuración -->
          <ion-item button (click)="goToSettings()" detail="false">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label>Configuración</ion-label>
          </ion-item>

          <!-- Botón Cerrar Sesión -->
          <ion-item button (click)="logout()" detail="false" class="logout-item">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
