ion-item {
    cursor: pointer;
    &:hover {
      --background: rgba(var(--ion-color-primary-rgb), 0.1);
    }
  };
.submenu-item {
    ion-label {
      font-size: smaller;
      font-style: italic;
      padding-left: 1.5em;
    }
  }