// src/app/app.component.scss
ion-item.submenu-item {
  --padding-start: 40px; // Aumenta el padding para crear el efecto de tabulación
  
  ion-icon {
    margin-left: 16px; // Desplaza el icono hacia la derecha
  }
}

// Estilo para el efecto hover en todos los elementos del menú
ion-item {
  cursor: pointer;
  &:hover {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
  }
}

// MODIFICACION DE CODIGO
// Estilos específicos para los diferentes tipos de elementos del menú
.category-icon {
  color: var(--ion-color-primary);
}

.tag-icon {
  color: var(--ion-color-secondary);
}

// Efecto visual para destacar elementos del menú activo
ion-item.selected-item {
  --background: rgba(var(--ion-color-primary-rgb), 0.15);
  font-weight: 500;
}
// MODIFICACION DE CODIGO

// Estilo para la sección de información del usuario
.user-info {
  padding: 16px 8px;
  border-bottom: 1px solid var(--ion-color-light);
  margin-bottom: 8px;
  
  h2 {
    font-weight: 500;
    margin: 0;
  }
}

// Estilo para el botón de cerrar sesión
.logout-item {
  margin-top: 20px;
  border-top: 1px solid var(--ion-color-light);
  --color: var(--ion-color-danger);
  
  ion-icon {
    color: var(--ion-color-danger);
  }
}